<div class="persons-container" ng-controller='TeamsController' ng-init='hzConnect()'>
  <h1> Add a member </h1>

  <div class="add-person">
    <form class="form-horizontal">
      <div class='form-group'>
        <label for='firstName' class='col-sm-2 control-label'>First Name</label>
        <div class='col-sm-3'>
          <input type='text' class='form-control' id='firstName' ng-model='firstName' placeholder='First Name'/>
        </div>
      </div>
      <div class='form-group'>
        <label for='lastName' class='col-sm-2 control-label'>Last Name</label>
        <div class='col-sm-3'>
          <input type='text' class='form-control' id='lastName' ng-model='lastName' placeholder='Last Name'/>
        </div>
      </div>
      <div class='form-group'>
        <label for='email' class='col-sm-2 control-label'>Email</label>
        <div class='col-sm-3'>
          <input type='email' class='form-control' id='email' placeholder='test@gmail.com' ng-model='email'/>
        </div>
      </div>
      <div class='form-group'>
        <label for='isTeamLead' class='col-sm-2 control-label'>Is Team Lead ?</label>
        <div class='col-sm-3'>
            <input type='checkbox' id='isTeamLead' ng-model='isTeamLead'/>
        </div>
      </div>
      <div class='form-group' ng-hide='isTeamLead===true'>
        <label for='teamLead' class='col-sm-2 control-label'>Team Lead</label>
        <div class='col-sm-3'>
            <select type='text' id='teamLead' ng-model='teamLeadId'>
              <option value=''>---Select---</option>
              <option ng-repeat='option in teamLeads' value='{{option.id}}'>{{option.firstName}} {{option.lastName}}</option>
            </select>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-3 col-sm-offset-2'>
          <button class='btn btn-primary' ng-click='addPerson()'>Add Member</button>
        </div>
      </div>
    </form>
  </div>

  <div class="persons-container">
    <h1> Persons </h1>
    <h4 ng-show='allPersons.length === 0'>None Added</h4>
    <table class='table table-striped' ng-show='allPersons.length > 0'>
      <thead>
        <tr>
          <th>Full Name</th>
          <th>Email</th>
          <th>Team Lead</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='person in allPersons'>
          <td>{{person.firstName}} {{person.lastName}}</td>
          <td>{{person.email}}</td>
          <td>{{person.isTeamLead? 'NA': person.teamLead.firstName + ' ' + person.teamLead.lastName}}</td>
          <td><button class='btn btn-link' ng-click='deletePerson(person.id, $index)'>Delete</button></td>
        </tr>
      </tbody>

    </table>
  </div>

</div>
